 <!doctype html>
 <html lang="en" xmlns:th="http://thymeleaf.org ">
 <head>
 	<meta charset="UTF-8" />
 	<title>Employee Management System</title>
 	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
 </head>
 <body>
 	<div align="center">
 	<h1>Employee Management System</h1>
 	
 	<h2>Update  Employee</h2>
 	<form action="#" th:action="@{/saveEmployee}"  th:object= "${employee}" class="form-horizontal form-bordered" method="POST">
 	
 	<input type="hidden" th:field="*{id}"/>
 	  	 <div class="col-md-6">
			<div class="form-group">
				<div class="col-md-12">
 	 <input type="text" th:field = "*{employeeName}" class="form-control" placeholder="Employee Name" required>
 	  	           </div>
 	       </div >
 	   </div>
 	   <div class="col-md-6">
			<div class="form-group">
				<div class="col-md-12">
 	  <input type="text" th:field = "*{city}" class="form-control" placeholder="Employee City" required>
 	            </div>
 	       </div >
 	   </div>
 	    <div class="col-md-6">
			<div class="form-group">
				<div class="col-md-12">
 	   <input type="text" th:field = "*{Designation}" class="form-control" placeholder="Employee Designation" required>
 	            </div>
 	       </div >
 	   </div>
 	  <div class="col-md-6">
			<div class="form-group">
				<div class="col-md-12">
 	<button type="submit" class="btn btn-primary" style="position:absolute; right:12px; top:8px;">Update Employee</button>
 	 	            </div>
 	       </div >
 	   </div>
 	</form>
 	<div>
 	<a th:href = "@{/}">Back to Employee List</a>
 	</div>
 	</div>
 	<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
 </body>
 </html>